* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  color: red;
}
.flex_container {
  width: fit-content;
  height: 40px;
  margin: 30px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding: 8px 10px;
  background-color: #ffd9d9;
  border-radius: 20px;
  cursor: pointer;
}
.container_day {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  border-radius: 8px;
  padding: 3px;
}
.container_date {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  border: none;
  background: none;
}
